.fondo-color{
    background-color: aqua;
  
}

.titulo_integrante li{
    font-size: 150%;
}

.titulo__gato{
    margin-left: 60px;
    font-size: 150%;
}
  

.caja_mascotas{
    align-items: center;
    

}

.mascota__perro{
    display: flex;
    align-items: center;


}

.titulo__perro{
    margin-left: 60px;
    font-size: 150%;

}

.mascota__gato{
    display: flex;
    align-items: center;
    

}

.titulo__gato{
    margin-left: 60px;
    font-size: 150%;
}



